@font-face {
    font-family: "MADE Soulmaze Italic";
    src: url('Soulmaze.otf');
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    display:flex;
    height: 100vh;
}

.col {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col > * {
    flex: 1;
}

/*---- LEFT COLUMN ----*/

.image-column {
    transition: background-color 2s;
    background-color: white;

}

.image-column > *:last-of-type {
   align-items: flex-end;
    padding-bottom: 10px;
}

/*---- RIGHT COLUMN ---- */

.information-column {
    align-items: flex-start;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}

.navbar > img {
    height: 60px;
}


/*---- TYPE ICONS ----*/

.type-icon-parent {
    display: flex;
}

.type-icon + .type-icon {
    margin-left:10px;
}

.type-icon {
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    border-radius: 50%;
}

/*---- SUGGESTION INPUT ----*/

.suggestions {
    list-style-type:none;
    padding: 0;
    margin-top: 0;
    background: white;
    position: fixed;
    width: 100%;
}

.suggestions > li {
    padding: 5px;
    border: 1px solid darkgray;
    border-top: transparent;
}

input[type="text"] {
border: 1px solid grey;
}

input[type="text"]:focus {
outline: 0;
}

/* OTHERS */
