body {
    background-image: url("http://localhost:3000/wallpaper.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: left bottom;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.suggestions {
    list-style-type:none;
    padding: 0;
    margin-top: 0;
    background: white;
}

.suggestions > li {
    padding: 5px;
    border: 1px solid darkgray;
    border-top: transparent;
}

input[type="text"] {
border: 1px solid grey;
}

input[type="text"]:focus {
outline: 0;
}

/*
.pokemon-card {
    border: #F0D935 solid 15px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    background-color: cadetblue;
}

.pokemon-card > h2 {
    margin: 0;
}

.pokemon-img {
    background-color: white;
    border-radius: 100%;
}

.pokemon-img > img {
    margin: 800%;
}

.pokemon-card > .pokemon-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
}

.pokemon-card > .pokemon-data > div {
    text-align: center;
    flex-grow: 1

}
*/


/* Copy pasta */
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

h1 {
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 154%;
}

p {
    font-size: 10px;
    font-weight: 500;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
}


.card-base {
    position: absolute;
    top: 10%;
    left: 40%;
    background: #ffffff url('https://image.ibb.co/djWA2m/background2.png');
    width: 270px;
    border-width: 16px;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    transform: translatey(0px);

}

img { width: 100%; height: auto; }

/* Header */

.card-header {
    font-size: 20px;
}

.alignleft {
    float: left;
    font-size: 20px;
    line-height: 0;
    margin: 0;
}
.alignright {
    float: right;
    width: auto;
    font-size: 20px;
    color: #CD0000;
    line-height: 0;
    margin: 0;
}

/* Main image */

.image-big {
    width: 258px;
    height: 195px;
    border: 6px solid transparent;
    border-image: linear-gradient(to right top, goldenrod , gold);
    border-image-slice: 1;
    box-shadow: 0 0 10px #000000;
    object-fit: contain;
    background-color: white;
}

/* Desc banner */

.banner {
    width: 225px;
    background: linear-gradient(to right top, peru , gold);
    box-shadow: 0 0 1px #888;
    font-size: 10px;
    font-weight: bold;
    margin-left: 21px;
    margin-top: -8px;
}

/* Card contents and text */

.inner-container {
    position: relative;
    min-height: 50px;
    font-size: 13px;
}

/* Footer */
.stats {
    display: flex;
    flex-direction: row;
    font-size: 11px;
}

.stats > div {
    text-align: center;
    flex-grow: 1
}

.fun-fact {
    position: relative;
    left: 2px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right top, white , gold);
    border-image-slice: 1;
    box-shadow: 0 0 2px #000000;
    width: 264px;
    height: 20px;
}

.fact {
    font-weight: bold;
    font-style: italic;
    font-size: 9.2px;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 0;
    line-height: 0.9;
    padding: 0;
}

.copyright {
    font-size: 6.5px;
}

.footer {
    font-size: 6px;
}


